* {
  margin: 0;
}

html {
}

/* NAV */

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 7vh;
  border-bottom: 1px solid #282D2E;
  align-items: center;
}

#lienlogohome {
  display: flex;
  text-decoration: none;
  text-transform: uppercase;
  color: #282D2E;
  align-items: center;
}

#navleft a img {
  height: 6vh;
  width: auto;
  margin-right: 10px;
}

#navleft {
  display: flex;
  align-items: center;
  width: 50%;
  margin-left: 10px;
}

#navright {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin-right: 40px;
}

#txtlogo {
  font-size: 1.2em;
}

.linknavdiv {
  height: 90%;
}

.linknav {
  text-decoration: none;
  font-size: 1em;
  color: #282D2E;
  height: 100%;
}

.linknav:hover {
  border-bottom: 3px solid #FA5501;
  color: #FA5501;
  padding-bottom: 2vh;
}

/* ----> HOME <---- */

/* HEADER */

header {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../IMG/bg1.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #EBF7F7;
}

#contentheaderhome {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 40%;
}

#h1header {
  font-size: 3.7em;
  font-weight: bold;
  text-transform: uppercase;
  color: #FA5501;
  margin-bottom: 2vh;
}

#textheader {
  color: #282D2E;
  font-size: 1.4em;
  margin-bottom: 7vh;
}

#linkheader {
  padding-left: 1.2vw;
  padding-right: 1.2vw;
  padding-top: 1.2vh;
  padding-bottom: 1.2vh;
  border-radius: 40px;
  border: 1px solid #FA5501;
  text-decoration: none;
  color: #282D2E;
  font-size: 1.2em;
  background-color: #EBF7F7;
}

#linkheader:hover {
  background-color: #FA5501;
  color:#EBF7F7;
}

/* NOS SERVICES */

#presentationhome {
  width: 100%;
  margin-top: 10vh;
}

.titlerubriquehome {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rubriquehome {
  color: #62D3D0;
  font-size: 1.5em;
  margin-bottom: 0.7vh;
}

.soulignement {
  width: 5vw;
  height: 0.2vh;
  background-color: #FA5501;
}

#presentationhaut {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 7vh;
}

.detailpresentation {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.detailservicetitle {
  font-size: 1.2;
  font-weight: bold;
  color: #282D2E;
  text-transform: uppercase;
  margin-bottom: 1vh;
}

.detailservicetexte {
  font-size: 1em;
  color: #282D2E;
  margin-bottom: 7vh;
}

.detailpresentation img {
  height: 7vh;
  margin-bottom: 2vh;
}
