* {
  margin: 0;
}

@font-face {
	font-family: 'Avenir';
	src: url('../fonts/AvenirLTStd-Roman.otf');
}
@font-face {
	font-family: 'Avenir';
	font-style: bold;
	src: url('../fonts/AvenirLTStd-Heavy.otf');
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
    font-family: 'neoubold';
    src: url('../fonts/neou-bold-webfont.woff2') format('woff2'),
         url('../fonts/neou-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


html {
  font-family: 'Avenir';
}



/* NAV */

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 7vh;
  border-bottom: 1px solid #282D2E;
  align-items: center;
}

#lienlogohome {
  display: flex;
  text-decoration: none;
  text-transform: uppercase;
  color: #282D2E;
  font-family: 'Avenir';
  align-items: center;
  font-size: 1.7vh;
}

#navleft a img {
  height: 6vh;
  width: auto;
  margin-right: 10px;
}

#navleft {
  display: flex;
  align-items: center;
  width: 50%;
  margin-left: 10px;
}

#navright {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin-right: 40px;
}

#txtlogo {
  font-size: 1.7vh;
}

.linknavdiv {
  height: 90%;
}

.linknav {
  text-decoration: none;
  font-size: 1.7vh;
  color: #282D2E;
  height: 100%;
}

.linknav:hover {
  border-bottom: 3px solid #FA5501;
  color: #FA5501;
  padding-bottom: 2vh;
}

/* ----> HOME <---- */

/* HEADER */

header {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../IMG/bg1.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #EBF7F7;
}

#contentheaderhome {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 40%;
}

#h1header {
  font-size: 5vh;
  font-weight: bold;
  text-transform: uppercase;
  color: #FA5501;
  margin-bottom: 2vh;
}

#textheader {
  color: #282D2E;
  font-size: 2vh;
  margin-bottom: 7vh;
}

#linkheader {
  padding-left: 1.2vw;
  padding-right: 1.2vw;
  padding-top: 1.2vh;
  padding-bottom: 1.2vh;
  border-radius: 40px;
  border: 1px solid #FA5501;
  text-decoration: none;
  color: #282D2E;
  font-size: 2vh;
  background-color: #EBF7F7;
}

#linkheader:hover {
  background-color: #FA5501;
  color:#EBF7F7;
}

/* NOS SERVICES */

#presentationhome {
  width: 100%;
  margin-top: 10vh;
}

.titlerubriquehome {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rubriquehome {
  color: #62D3D0;
  font-size: 3vh;
  margin-bottom: 0.7vh;
}

.soulignement {
  width: 5vw;
  height: 0.2vh;
  background-color: #FA5501;
}

#presentationhaut {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 7vh;
}

.detailpresentation {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.detailservicetitle {
  font-size: 2.3vh;
  font-weight: bold;
  color: #282D2E;
  text-transform: uppercase;
  margin-bottom: 1vh;
  font-family: 'Neoubold';
  letter-spacing: 0.4em;
}

.detailservicetexte {
  font-size: 2vh;
  color: #CCCCCC;
  margin-bottom: 7vh;
}

.detailpresentation img {
  height: 9vh;
  margin-bottom: 2vh;
}

/* ILS ONT VECU L'EXPERIENCE */

#slidercommenthome {
  background-color: #EBF7F7;
  padding-top: 3vh;
  margin-top: 3vh;
  width: 100%;
  height: 40vh;
  }

  /* NOS PARTENAIRES */

  #partenaireshome {
    margin-top: 10vh;
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background:url(../IMG/backdown.png);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;

  }

  #partenairesflex {
    display: flex;
    flex-direction: row;
  }

  #partenairesleft, #partenairesright {
    display: flex;
    flex-direction: column;
    width:25vw;
  }

  #logospartenaires {
    display: flex;
    width: 60vw;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .margbot {
    margin-bottom: 5vh;
  }

  .twologos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .logopartenaires {
    width: 10vh;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
    opacity: 0.4;
  }

  .logopartenaires:hover {
    opacity: 1;
  }

  /* NOUS REJOINDRE */

  #parallax {
   background:url(../IMG/bg2.jpg) fixed;
   background-size:cover;
   opacity: 1;
   box-shadow: 1px 1px 120px #333333 inset;
   position: relative;
}

  #contentparallax {
  }

  #absolutehome {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
  }

  #titlerejoignez {
    font-size: 2.4vh;
    color: #FA5501;
    font-weight: bold;
    margin-bottom: 3vh;
  }

  #textrejoignez {
    font-size: 2vh;
    color: white;
    margin-bottom: 7vh;
  }

  #boutonrejoignez {
    padding-left: 1.2vw;
    padding-right: 1.2vw;
    padding-top: 1.2vh;
    padding-bottom: 1.2vh;
    border-radius: 40px;
    border: 1px solid #FA5501;
    text-decoration: none;
    color:white;
    font-size: 1.7vh;
    background-color: #FA5501;
  }

  #boutonrejoignez:hover {
    background-color: rgba(0, 0, 0, 0);
  }

  /* FOOTER */

  footer {
    padding: 0;
    height: 14vh;
    width: 100%;
    border-top: 1px solid #282D2E;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #liensfooter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5vw;
    text-align: left;
  }

  .linkfooter {
    text-decoration: none;
    color: #282D2E;
    font-size: 1.4vh;
  }

  .linkfooter:hover {
    color: #FA5501;
  }

  #logofooter {
  height: 12vh;
}

  #socialnetwork {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5vw;
  }

  #reseauxtxt {
    text-transform: uppercase;
    color: #FA5501;
    font-size: 1.7vh;
  }

  #linksocial {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .logosocial {
    height: 4vh;
    opacity: 0.4;
    margin-top: 1vh;
  }

  .logosocial:hover {
    opacity: 1;
  }

  .space {
    margin-bottom: 0.3vh;
  }

  .spaceright {
    margin-right: 0.3vw;
  }

  /* ----> SIGNUP <---- */

  #contentinscription {
    height: 78vh;
    width: 100%;
    overflow: hidden;
    background: url(../IMG/pattern2.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #forminscription {
    height: 65vh;
    width: 30vw;
    background-color: white;
    display: flex;
    flex-direction: column;
  }

  #civility {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #282D2E;
    margin-bottom: 0.3vh;
    padding-left: 0.3vw;
  }

  #formsignup {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #pcivil {
    font-size: 2vh;
  }

  .formwidth {
    width: 15vw;
    height: 4vh;
    color: #282D2E;
    font-size: 2vh;
    margin-bottom: 1vh;
    font-family: 'Avenir';
  }

  .borderform {
    border: none;
    border-bottom: 1px solid #282D2E;
    padding-left: 0.3vw;
  }

input::-webkit-input-placeholder {
    color: #282D2E;
    font-size: 2vh;
    font-family: 'Avenir';
}

.boutonform {
  background-color: white;
  border: 1px solid #62D3D0;
  margin-top: 2vh;
  border-radius: 25px;
  color: #62D3D0;
  font-size: 2vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  cursor: pointer;
  font-family: 'Avenir';
}

.boutonform:hover {
  background-color: #62D3D0;
  color: white;
}

#titresignup {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3vh;
}

#titleinscription {
  color: #62D3D0;
  font-size: 3vh;
  font-weight: normal;
  text-transform: uppercase;
}

  /* ----> LOGIN <---- */

  #contentlogin {
    height: 78vh;
    width: 100%;
    overflow: hidden;
    background: url(../IMG/pattern2.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #formlogin {
    width: 30vw;
    height: 45vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #loginright {
    width: 25vw;
    height: 35vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #titlelogin {
    color: #FA5501;
    font-size: 3vh;
    font-weight: normal;
    text-transform: uppercase;
    margin-top: 5vh;
  }

  .borderform2 {
    border: none;
    border-bottom: 1px solid #282D2E;
    padding-left: 0.3vw;
    margin-bottom: 3vh;
  }

  #inscrire {
    padding-left: 2.2vw;
    padding-right: 2.2vw;
    padding-top: 0.8vh;
    padding-bottom: 0.8vh;
    border-radius: 40px;
    border: 1px solid #FA5501;
    text-decoration: none;
    color:white;
    font-size: 2vh;
    background-color: #FA5501;
    }

  #inscrire:hover {
    background-color: rgba(0, 0, 0, 0);
  }

  #grdtxtlogin {
    color:#FA5501;
    font-size: 2.3vh;
    text-align: center;
    margin-bottom: 3vh;
  }

  #txtlogin {
    color:white;
    font-size: 1.7vh;
    margin-bottom: 3vh;
    text-align: center;
  }

/* ----> EQUIPE <---- */

#contentequipe {
  width:100%;
}

#backgroundequipe {
  width: 100%;
  height: 50vh;
  background-image: url(../IMG/bg-team.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

#blackteam {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

#rotatetitle {
  width: 13vw;
  height: 25vh;
  border: 2px solid white;
  transform: rotate(45deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

#titreequipe {
  transform: rotate(-45deg);
  color: white;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 3em;
  text-align: center;
}

#membres {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7vh;
  width: 100%;
}

#teamhaut {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 7vh;
}

#teambas {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 7vh;
}

.divmember {
  width: 13vw;
  height: 25vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#amel {
  background: url(../IMG/amel.jpg);
  background-size: cover;
  background-position: center;
}

#guillaume {
  background: url(../IMG/guillaume.jpg);
  background-size: cover;
  background-position: center;
}

#carla {
  background: url(../IMG/carla.jpg);
  background-size: cover;
  background-position: center;
}

#louis {
  background: url(../IMG/louis.jpg);
  background-size: cover;
  background-position: center;
}

#adrien {
  background: url(../IMG/adrien.jpg);
  background-size: cover;
  background-position: center;
}

#romain {
  background: url(../IMG/romain.jpg);
  background-size: cover;
  background-position: center;
}

.teamdisplaynone {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.textnone {
  color: #FA5501;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 2vh;
  text-align: center;
}

.poles {
  text-transform: none;
  color: white;
}

.divmember:hover .teamdisplaynone {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 5vh;
}

/* ----> CONCEPT <---- */

#contentconcept {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#conceptflex {
  display: flex;
  height: 80vh;
  background: url(../IMG/pattern.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 7vh;
  justify-content: space-around;
}

#backgrdconcept {
  height: 45vh;
  width: 100%;
  background: url(../IMG/bgconcept.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#ccpt {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

#bgccpt1 {
  height: 20vh;
  width: 20vw;
  z-index: 4;
  background: url(../IMG/chair.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  box-shadow: 1px 1px 12px #555;
}

#bgccpt2 {
  height: 32vh;
  width: 10vw;
  z-index: 2;
  background: url(../IMG/car.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  bottom: 16vh;
  left: 18.5vw;
  box-shadow: 1px 1px 12px #555;
}

#bgccpt3 {
  height: 13vw;
  width: 13vw;
  z-index: 3;
  background: url(../IMG/pc.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  bottom: 20vh;
  left: 7vw;
  box-shadow: 1px 1px 12px #555;
}

#conceptdown {
  height: 70vh;
  margin-bottom: 7vh;
}

#man {
  height: 13vw;
  width: 13vw;
  background: url(../IMG/man.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  left: 22vw;
  bottom: 50vh;
  box-shadow: 1px 1px 12px #555;
}

#mac {
  height: 40vh;
  width: 13vw;
  background: url(../IMG/mac.jpg);
  background-size: cover;
  z-index: 2;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  left: 57vw;
  bottom: 55vh;
  box-shadow: 1px 1px 12px #555;
}


#mer {
  height: 13vw;
  width: 13vw;
  background: url(../IMG/mer.jpg);
  background-size: cover;
  z-index: 2;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  bottom: 77vh;
  left: 24vw;
  box-shadow: 1px 1px 12px #555;
}

#logoanim {
    height: 35vh;
    position: relative;
    z-index: 3;
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;

}

@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 15px);}
    to {-webkit-transform: translate(0, -0px);    }
}

@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 15px);}
    to {-moz-transform: translate(0, -0px);}
}


#titleconcept {
  color: #FA5501;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3vh;
  text-align: left;
  margin-bottom: 4vh;
}

.txtconcept {
  width: 30vw;
  color: #282D2E;
  font-weight: normal;
  font-size: 2vh;
  text-align: left;
}

.botspace {
  margin-bottom: 2vh;
}

#ccptimg {
  position: relative;
  bottom: 35vh;
}

#conceptexplain1 {
  position: relative;
  bottom: 43vh;
  left: 5vw;
  width: 23vw;
  height: 55vh;
  background-color: white;
  z-index: 4;
  color: #282D2E;
  padding-left: 1vw;
  padding-right: 1vw;
  font-size: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 1px 1px 12px #555;
}

#conceptexplain2 {
  width: 23vw;
  height: 55vh;
  background-color: white;
  z-index: 4;
  color: #282D2E;
  font-size: 2vh;
  padding-left: 1vw;
  padding-right: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 1px 1px 12px #555;
  position: relative;
  left: 35vw;
  bottom: 7vh;
}

/* ----> MENTIONS + CGV <---- */

#allcontentmentions {
  background: url(../IMG/pattern.png);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contentmentions {
  margin-top: 7vh;
  margin-bottom: 7vh;
  width: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
}

#contentmentions a {
  text-decoration: none;
  font-weight: bold;
  color: #FA5501;
  font-size: 2vh;
}

#contentmentions p {
  text-align: left;
  font-size: 2vh;
}

#contentmentions h3 {
  color: #FA5501;
  font-size: 2vh;
}

#mentionslegalestitle {
  text-transform: uppercase;
  color: #62D3D0;
  font-size: 2.5vh;
}

/* ----> ARTICLES <---- */

/* ----> article orange <---- */
.articlel {
  width: 90vw;
  height: 50vh;
  display: flex;
  justify-content: flex-start;
  margin-top: 7vh;
  }

.articlepartleft {
  width: 35vw;
  height: 50vh;
  position: relative;
}

.blocbleuarticle {
  width: 25vw;
  height: 40vh;
  background-color: #FA5501;
  position: relative;
}

.blocbleuarticle img {
  height: 40vh;
  position: absolute;
  z-index: 2;
  left: 15vw;
  top: 8vh;
}

.underbloc1 {
  position: absolute;
  z-index: 3;
  height: 6vh;
  width: 20vw;
  background-color: #FA5501;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.underbloc1 div {
  height: 0.2vh;
  width: 8vw;
  background-color: #667575;
  opacity: 0.5;
}

.underbloc1 p {
  font-size: 2vh;
  color: black;
}

.righttop {
  display: flex;
  position: relative;
  margin-top: 10vh;
  margin-left: 0;
  align-items: center;
  margin-bottom: 5vh;
}


.articlehr {
  height: 0.2vh;
  width: 15vw;
  opacity: 0.5;
  background-color: black;
  position: absolute;
  z-index: 4;
  }

  .titreright h2 {
    font-size: 3.2vh;
    font-weight: bold;
    color: black;
    margin-left: 17vw;
  }

  .txtarticle {
    margin-left: 15vw;
  }

  .internaltxt {
    font-size: 2vh;
    color: #a7a9ac;
    font-weight: normal;
  }

  .buttonarticle {
   float: right;
   right: 15vw;
   margin-top: 7vh;
  }

  .buttonarticle a {
    text-decoration: none;
    font-size: 2vh;
    color: white;
    background-color: #FA5501;
    border: 1px solid #FA5501;
    border-radius: 40px;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
  }

  .buttonarticle a:hover {
    color: #FA5501;
    background-color: white;
  }

  /* ----> article bleu <---- */

  .article2 {
    width: 90vw;
    height: 50vh;
    display: flex;
    margin-top: 7vh;
    float: right;
  }

  .articlepartleft2 {
    width: 35vw;
    height: 50vh;
    position: relative;
  }

  .blocbleuarticle2 {
    width: 25vw;
    height: 40vh;
    background-color: #62D3D0;
    position: relative;
  }

  .blocbleuarticle2 img {
    height: 40vh;
    position: absolute;
    z-index: 2;
    right: 15vw;
    top: 8vh;
  }

  .underbloc2 {
    position: absolute;
    right: 0;
    z-index: 3;
    height: 6vh;
    width: 20vw;
    background-color: #62D3D0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
  }

  .underbloc2 div {
    height: 0.2vh;
    width: 8vw;
    background-color: #667575;
    opacity: 0.5;
  }

  .underbloc2 p {
    font-size: 2vh;
    color: black;
  }

  .righttop2 {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    margin-top: 10vh;
    margin-right: 0;
    align-items: center;
    margin-bottom: 5vh;
  }


  .articlehr2 {
    height: 0.2vh;
    width: 15vw;
    opacity: 0.5;
    background-color: black;
    position: absolute;
    z-index: 4;
    }

    .titreright2 h2 {
      font-size: 3.2vh;
      font-weight: bold;
      color: black;
      margin-right: 17vw;
    }

    .txtarticle2 {
      margin-right: 15vw;
    }

    .internaltxt2 {
      font-size: 2vh;
      color: #a7a9ac;
      font-weight: normal;
      text-align: right;
    }

    .buttonarticle2 {
     float: left;
     left: 15vw;
     margin-top: 7vh;
    }

    .buttonarticle2 a {
      text-decoration: none;
      font-size: 2vh;
      color: white;
      background-color: #62D3D0;
      border: 1px solid #62D3D0;
      border-radius: 40px;
      padding-left: 5vw;
      padding-right: 5vw;
      padding-top: 1vh;
      padding-bottom: 1vh;
    }

    .buttonarticle2 a:hover {
      color:#62D3D0;
      background-color: white;
    }

    /* ----> NOS OFFRES <---- */

    #pageoffre {
      width: 100%;
    }

    #contentoffretop {
      height: 80vh;
      width: 100%;
      background: url(../IMG/pattern2.png);
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    #allchoices {
      display: flex;
      justify-content: space-around;
      width: 100%;
    }

    .titlechoice {
      font-size: 3.5vh;
      color: #FA5501;
      margin-bottom: 2vh;
      margin-top: 5vh;
    }

    .undertitlechoice {
      width: 7vw;
      height: 0.2vh;
      background-color: #FA5501;
      margin-bottom: 5vh;
    }

    .titletxt  {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    #explainchoice {
      color: black;
      font-size: 2vh;
      width: 60vw;
      text-align: center;
    }

    #explainchoice span {
      color: #FA5501;
      font-size: 2vh;
    }

    .choice {
      width: 17vw;
      height: 17vw;
      background-color: white;
      border-radius: 20px;
      margin-top:7vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }

    .choice a {
      text-decoration: none;
      color: #FA5501;
      font-size: 2vh;
      border: 1px solid #FA5501;
      border-radius: 40px;
      background-color: white;
      padding-left: 2vw;
      padding-right: 2vw;
      padding-top: 1vh;
      padding-bottom: 1vh;
    }

    .cachoiceoffer {
      font-size: 1.7vh;
      text-align: center;
      padding-left: 0.2vw;
      padding-right: 0.2vw;
    }

    .choice a:hover {
      color: white;
      background-color: #FA5501;
    }

    .titrechoiceoffer {
      text-transform: uppercase;
      font-size: 2.7vh;
    }

    .pricechoiceoffer {
      font-size: 3.5vh;
      font-weight: bold;
      color: #62D3D0;
    }

    #contentoffrebot {
      display: flex;
      flex-direction: column;
      height: 80vh;
      width: 100%;
      align-items: center;
    }

    #specoffres {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;

    }

    .flexspec {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      width: 45vw;
      margin-bottom: 2vh;
    }

    .flexspec img {
      width: 2.5vw;
      height: 2.5vw;
      margin-right: 2vw;
    }

    .flexspec p {
      font-size: 2vh;
      text-align: left;
    }

    #payflex {
      display: flex;
      width: 45vw;
      justify-content: space-between;
    }

    .pay {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 21vw;
      height: 10vh;
      border-radius: 20px;
      margin-top: 5vh;
      margin-bottom: 7vh;
      background-color: #62D3D0;
    }

    .pay img {
      height: 5vh;
    }

    .txtspecpay2 {
      display: flex;
      flex-direction: column;
    }

    .txtspecpay2 a {
      font-size: 2vh;
      color:  #FA5501;
    }

    .txtspecpay {
      display: flex;
      flex-direction: column;
      width: 16vw;
    }

    .txtpayup {
      font-size: 2vh;
    }

    .txtpaydown {
      font-size: 1.5vh;
      color: white;
    }

/* ----> DASHBOARD <---- */

/* ----> fil d'ariane <---- */

#allcontentdashboardtop {
  width: 100%;
  height: 50vh;
  background: url(../IMG/pattern2.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 7vh;
}

#ariane {
  display: flex;
  flex-direction: column;
  height: 16vh;
  width: 100%;
  position: relative;
  margin-top: 7vh;
}

#txtariane {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 2vh;
  color:  #FA5501;
}

#hrariane {
  height: 0.5vh;
  width: 100%;
  background-color: #FA5501;
}

#checkedariane {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}

.unchecked {
  width: 2vw;
  height: 2vw;
  border: 0.5vh solid #FA5501;
  background-color: white;
  transform: rotate(45deg);
  position: relative;
  top:2.6vh;
}

.checked {
  width: 1.3vw;
  height: 1.3vw;
  border: 0.5vh solid #FA5501;
  background-color: #62D3D0;
  transform: rotate(45deg);
  position: relative;
  top:3.2vh;
}

#dashleft {
  width: 30vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.formaddmember {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 25vw;
  position: relative;
  bottom: 1vh;
}

#allcontentdashboardbot {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#dashright {
  width: 30vw;
  height: 50vh;
  background-color:#62D3D0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 7vh;
  position: relative;
}

.formaddmember2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25vw;
}

.formwidthdash {
  width: 25vw;
  height: 8vh;
  color: #282D2E;
  font-size: 2vh;
  margin-bottom: 1vh;
  font-family: 'Avenir';
}

.formwidthdash2 {
  width: 25vw;
  height: 4vh;
  color: #282D2E;
  font-size: 2vh;
  margin-bottom: 1vh;
  font-family: 'Avenir';
}

.borderformdash {
  border: none;
  border-bottom: 1px solid #282D2E;
  padding-left: 0.3vw;
}

.boutonform2 {
  background-color: #62D3D0;
  border: 1px solid #FA5501;
  margin-top: 2vh;
  border-radius: 25px;
  color: #FA5501;
  font-size: 2vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-right: 1.3vw;
  padding-left: 1.3vw;
  cursor: pointer;
  font-family: 'Avenir';
}

.boutonform2:hover {
  background-color: #FA5501;
  color: white;
}

.titlechoice2 {
  font-size: 3.5vh;
  color: #FA5501;
  margin-bottom: 2vh;
}

.boutonform3 {
  background-color: #62D3D0;
  border: 1px solid #62D3D0;
  margin-top: 2vh;
  border-radius: 25px;
  color: white;
  font-size: 2vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-right: 1.3vw;
  padding-left: 1.3vw;
  cursor: pointer;
  font-family: 'Avenir';
}

.boutonform3:hover {
  background-color: white;
  color: #62D3D0;
}

.titlechoice2 span {
  font-size: 1.7vh;
}

#projectmembers {
  width: 30vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
}

#projectrelative {
  margin-top: 5vh;
  text-align: center;
}

.memberlisting p {
  font-size: 2vh;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  background-color: #62D3D0;
  color: white;
  margin-bottom: 1vh;
  text-align: center;
}

#txtinfosdash {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30vh;
  justify-content: space-around;
}

#txtinfosdash p {
  color: white;
  font-size: 1.7vh;
  text-align: center;
}

#txtinfosdash a {
  text-decoration: none;
  font-family: 'Avenir';
  color: #FA5501;
  font-size: 1.7vh;
  text-align: center;
}
